@font-face{
    font-family: public-regular;
    src:url("../fonts/PublicSans-Regular.ttf");
    font-weight: normal;
}

@font-face{
    font-family: open-semi;
    src: url("../font/OpenSans-Semibold.ttf");
    font-weight: 500;
}

@font-face{
    font-family: open-light;
    src: url("../font/OpenSans-Light.ttf");
    font-weight: lighter;
}

@font-face{
    font-family: open-bold;
    src: url("../font/OpenSans-Bold.ttf");
    font-weight: bold;
}

@font-face{
    font-family: open-extrab;
    src: url("../font/OpenSans-ExtraBold.ttf");
    font-weight: bolder;
}
@font-face{
    font-family: lf;
    src: url("../fonts/LibreFranklin-Light.ttf");
}