
// ECONOMY
[data-cat='economy']{
    &[data-image='cash'] {
    background-image: url('../img/vocab/advanced/economy/cash.jpg');
    }   

    &[data-image='creditcard'] {
        background-image: url('../img/vocab/advanced/economy/creditcard.jpg');
    }
    &[data-image='bank'] {
        background-image: url('../img/vocab/advanced/economy/bank.jpg');
    }
    &[data-image='cashmachine'] {
        background-image: url('../img/vocab/advanced/economy/cashmachine.jpg');
    }
    &[data-image='save'] {
    background-image: url('../img/vocab/advanced/economy/save.jpg');
    }
    &[data-image='ripoff'] {
    background-image: url('../img/vocab/advanced/economy/ripoff.jpg');
    }
    &[data-image='pay'] {
    background-image: url('../img/vocab/advanced/economy/pay.jpg');
    }
    &[data-image='rich'] {
    background-image: url('../img/vocab/advanced/economy/rich.jpg');
    }
    &[data-image='poor'] {
    background-image: url('../img/vocab/advanced/economy/poor.jpg');
    }
    &[data-image='price'] {
    background-image: url('../img/vocab/advanced/economy/price.jpg');
    }
}
// TECHNOLOGY
[data-cat='technology']{
    &[data-image='computer'] {
    background-image: url('../img/vocab/advanced/technology/computer.jpg');
    }   

     &[data-image='smartphone'] {
        background-image: url('../img/vocab/advanced/technology/smartphone.jpg');
    }
    &[data-image='tablet'] {
        background-image: url('../img/vocab/advanced/technology/tablet.jpg');
    }
    &[data-image='keyboard'] {
        background-image: url('../img/vocab/advanced/technology/keyboard.jpg');
    }
    &[data-image='monitor'] {
    background-image: url('../img/vocab/advanced/technology/monitor.jpg');
    }
    &[data-image='tower'] {
    background-image: url('../img/vocab/advanced/technology/tower.jpg');
    }
    &[data-image='laptop'] {
    background-image: url('../img/vocab/advanced/technology/laptop.jpg');
    }
    &[data-image='speaker'] {
    background-image: url('../img/vocab/advanced/technology/speaker.jpg');
    }
    &[data-image='drone'] {
    background-image: url('../img/vocab/advanced/technology/drone.jpg');
    }
    &[data-image='simcard'] {
    background-image: url('../img/vocab/advanced/technology/simcard.jpg');
    }
}
//WORK
[data-cat='work']{
    &[data-image='hire'] {
    background-image: url('../img/vocab/advanced/work/hire.jpg');
    }   

     &[data-image='quit'] {
        background-image: url('../img/vocab/advanced/work/quit.jpg');
    }
    &[data-image='salary'] {
        background-image: url('../img/vocab/advanced/work/salary.jpg');
    }
    &[data-image='resume'] {
        background-image: url('../img/vocab/advanced/work/resume.jpg');
    }
    &[data-image='interview'] {
    background-image: url('../img/vocab/advanced/work/interview.jpg');
    }
    &[data-image='boss'] {
    background-image: url('../img/vocab/advanced/work/boss.jpg');
    }
    &[data-image='agenda'] {
    background-image: url('../img/vocab/advanced/work/agenda.jpg');
    }
    &[data-image='plan'] {
    background-image: url('../img/vocab/advanced/work/plan.jpg');
    }
    &[data-image='brainstorm'] {
    background-image: url('../img/vocab/advanced/work/brainstorm.jpg');
    }
    &[data-image='meeting'] {
    background-image: url('../img/vocab/advanced/work/meeting.jpg');
    }
}

//HEALTH
[data-cat='health']{
    &[data-image='healthy'] {
    background-image: url('../img/vocab/advanced/health/healthy.jpg');
    }   

     &[data-image='sick'] {
        background-image: url('../img/vocab/advanced/health/sick.jpg');
    }
    &[data-image='doctor'] {
        background-image: url('../img/vocab/advanced/health/doctor.jpg');
    }
    &[data-image='exercise'] {
        background-image: url('../img/vocab/advanced/health/exercise.jpg');
    }
    &[data-image='medicine'] {
    background-image: url('../img/vocab/advanced/health/medicine.jpg');
    }
    &[data-image='ointment'] {
    background-image: url('../img/vocab/advanced/health/ointment.jpg');
    }
    &[data-image='pill'] {
    background-image: url('../img/vocab/advanced/health/pill.jpg');
    }
    &[data-image='pain'] {
    background-image: url('../img/vocab/advanced/health/pain.jpg');
    }
    &[data-image='stomachache'] {
    background-image: url('../img/vocab/advanced/health/stomachache.jpg');
    }
    &[data-image='sunburn'] {
    background-image: url('../img/vocab/advanced/health/sunburn.jpg');
    }
}

//SOCIAL
[data-cat='social']{
    &[data-image='popular'] {
    background-image: url('../img/vocab/advanced/social/popular.jpg');
    }   

     &[data-image='welfare'] {
        background-image: url('../img/vocab/advanced/social/welfare.jpg');
    }
    &[data-image='celebrity'] {
        background-image: url('../img/vocab/advanced/social/celebrity.jpg');
    }
    &[data-image='poverty'] {
        background-image: url('../img/vocab/advanced/social/poverty.jpg');
    }
    &[data-image='racism'] {
    background-image: url('../img/vocab/advanced/social/racism.jpg');
    }
    &[data-image='eyecontact'] {
    background-image: url('../img/vocab/advanced/social/eyecontact.jpg');
    }
    &[data-image='handshake'] {
    background-image: url('../img/vocab/advanced/social/handshake.jpg');
    }
    &[data-image='chat'] {
    background-image: url('../img/vocab/advanced/social/chat.jpg');
    }
    &[data-image='call'] {
    background-image: url('../img/vocab/advanced/social/call.jpg');
    }
    &[data-image='text'] {
    background-image: url('../img/vocab/advanced/social/text.jpg');
    }
}