
// ECONOMY
.economy{
    #c1 {
    background-image: url('../img/vocab/advanced/economy/cash.jpg');
    }   

     #c2 {
        background-image: url('../img/vocab/advanced/economy/creditcard.jpg');
    }
    #c3 {
        background-image: url('../img/vocab/advanced/economy/bank.jpg');
    }
    #c4 {
        background-image: url('../img/vocab/advanced/economy/cashmachine.jpg');
    }
    #c5 {
    background-image: url('../img/vocab/advanced/economy/save.jpg');
    }
    #c6 {
    background-image: url('../img/vocab/advanced/economy/ripoff.jpg');
    }
    #c7 {
    background-image: url('../img/vocab/advanced/economy/pay.jpg');
    }
    #c8 {
    background-image: url('../img/vocab/advanced/economy/rich.jpg');
    }
    #c9 {
    background-image: url('../img/vocab/advanced/economy/poor.jpg');
    }
    #c10 {
    background-image: url('../img/vocab/advanced/economy/price.jpg');
    }
}
// TECHNOLOGY
.technology{
    #c1 {
    background-image: url('../img/vocab/advanced/technology/computer.jpg');
    }   

     #c2 {
        background-image: url('../img/vocab/advanced/technology/smartphone.jpg');
    }
    #c3 {
        background-image: url('../img/vocab/advanced/technology/tablet.jpg');
    }
    #c4 {
        background-image: url('../img/vocab/advanced/technology/keyboard.jpg');
    }
    #c5 {
    background-image: url('../img/vocab/advanced/technology/monitor.jpg');
    }
    #c6 {
    background-image: url('../img/vocab/advanced/technology/tower.jpg');
    }
    #c7 {
    background-image: url('../img/vocab/advanced/technology/laptop.jpg');
    }
    #c8 {
    background-image: url('../img/vocab/advanced/technology/speaker.jpg');
    }
    #c9 {
    background-image: url('../img/vocab/advanced/technology/drone.jpg');
    }
    #c10 {
    background-image: url('../img/vocab/advanced/technology/simcard.jpg');
    }
}
//WORK
.work{
    #c1 {
    background-image: url('../img/vocab/advanced/work/hire.jpg');
    }   

     #c2 {
        background-image: url('../img/vocab/advanced/work/quit.jpg');
    }
    #c3 {
        background-image: url('../img/vocab/advanced/work/salary.jpg');
    }
    #c4 {
        background-image: url('../img/vocab/advanced/work/resume.jpg');
    }
    #c5 {
    background-image: url('../img/vocab/advanced/work/interview.jpg');
    }
    #c6 {
    background-image: url('../img/vocab/advanced/work/boss.jpg');
    }
    #c7 {
    background-image: url('../img/vocab/advanced/work/agenda.jpg');
    }
    #c8 {
    background-image: url('../img/vocab/advanced/work/plan.jpg');
    }
    #c9 {
    background-image: url('../img/vocab/advanced/work/brainstorm.jpg');
    }
    #c10 {
    background-image: url('../img/vocab/advanced/work/meeting.jpg');
    }
}

//HEALTH
.health{
    #c1 {
    background-image: url('../img/vocab/advanced/health/healthy.jpg');
    }   

     #c2 {
        background-image: url('../img/vocab/advanced/health/sick.jpg');
    }
    #c3 {
        background-image: url('../img/vocab/advanced/health/doctor.jpg');
    }
    #c4 {
        background-image: url('../img/vocab/advanced/health/exercise.jpg');
    }
    #c5 {
    background-image: url('../img/vocab/advanced/health/medicine.jpg');
    }
    #c6 {
    background-image: url('../img/vocab/advanced/health/ointment.jpg');
    }
    #c7 {
    background-image: url('../img/vocab/advanced/health/pill.jpg');
    }
    #c8 {
    background-image: url('../img/vocab/advanced/health/pain.jpg');
    }
    #c9 {
    background-image: url('../img/vocab/advanced/health/stomachache.jpg');
    }
    #c10 {
    background-image: url('../img/vocab/advanced/health/sunburn.jpg');
    }
}

//SOCIAL
.social{
    #c1 {
    background-image: url('../img/vocab/advanced/social/popular.jpg');
    }   

     #c2 {
        background-image: url('../img/vocab/advanced/social/welfare.jpg');
    }
    #c3 {
        background-image: url('../img/vocab/advanced/social/celebrity.jpg');
    }
    #c4 {
        background-image: url('../img/vocab/advanced/social/poverty.jpg');
    }
    #c5 {
    background-image: url('../img/vocab/advanced/social/racism.jpg');
    }
    #c6 {
    background-image: url('../img/vocab/advanced/social/eyecontact.jpg');
    }
    #c7 {
    background-image: url('../img/vocab/advanced/social/handshake.jpg');
    }
    #c8 {
    background-image: url('../img/vocab/advanced/social/chat.jpg');
    }
    #c9 {
    background-image: url('../img/vocab/advanced/social/call.jpg');
    }
    #c10 {
    background-image: url('../img/vocab/advanced/social/text.jpg');
    }
}