.food #c1 {
  background-image: url("../img/vocab/intermediate/food/noodle.jpg");
}
.food #c2 {
  background-image: url("../img/vocab/intermediate/food/egg.jpg");
}
.food #c3 {
  background-image: url("../img/vocab/intermediate/food/steak.jpg");
}
.food #c4 {
  background-image: url("../img/vocab/intermediate/food/pork.jpg");
}
.food #c5 {
  background-image: url("../img/vocab/intermediate/food/rice.jpg");
}
.food #c6 {
  background-image: url("../img/vocab/intermediate/food/salad.jpg");
}
.food #c7 {
  background-image: url("../img/vocab/intermediate/food/icecream.jpg");
}
.food #c8 {
  background-image: url("../img/vocab/intermediate/food/watermelon.jpg");
}
.food #c9 {
  background-image: url("../img/vocab/intermediate/food/fish.jpg");
}
.food #c10 {
  background-image: url("../img/vocab/intermediate/food/pizza.jpg");
}

.travel #c1 {
  background-image: url("../img/vocab/intermediate/travel/suitcase.jpg");
}
.travel #c2 {
  background-image: url("../img/vocab/intermediate/travel/passport.jpg");
}
.travel #c3 {
  background-image: url("../img/vocab/intermediate/travel/camera.jpg");
}
.travel #c4 {
  background-image: url("../img/vocab/intermediate/travel/sunglasses.jpg");
}
.travel #c5 {
  background-image: url("../img/vocab/intermediate/travel/hotel.jpg");
}
.travel #c6 {
  background-image: url("../img/vocab/intermediate/travel/airplane.jpg");
}
.travel #c7 {
  background-image: url("../img/vocab/intermediate/travel/checkin.jpg");
}
.travel #c8 {
  background-image: url("../img/vocab/intermediate/travel/seat.jpg");
}
.travel #c9 {
  background-image: url("../img/vocab/intermediate/travel/taxi.jpg");
}
.travel #c10 {
  background-image: url("../img/vocab/intermediate/travel/boardingpass.jpg");
}

.hobbies #c1 {
  background-image: url("../img/vocab/intermediate/hobbies/music.jpg");
}
.hobbies #c2 {
  background-image: url("../img/vocab/intermediate/hobbies/paint.jpg");
}
.hobbies #c3 {
  background-image: url("../img/vocab/intermediate/hobbies/cook.jpg");
}
.hobbies #c4 {
  background-image: url("../img/vocab/intermediate/hobbies/soccer.jpg");
}
.hobbies #c5 {
  background-image: url("../img/vocab/intermediate/hobbies/read.jpg");
}
.hobbies #c6 {
  background-image: url("../img/vocab/intermediate/hobbies/dance.jpg");
}
.hobbies #c7 {
  background-image: url("../img/vocab/intermediate/hobbies/computergame.jpg");
}
.hobbies #c8 {
  background-image: url("../img/vocab/intermediate/hobbies/tennis.jpg");
}
.hobbies #c9 {
  background-image: url("../img/vocab/intermediate/hobbies/basketball.jpg");
}
.hobbies #c10 {
  background-image: url("../img/vocab/intermediate/hobbies/tabletennis.jpg");
}

.transportation #c1 {
  background-image: url("../img/vocab/intermediate/transportation/car.jpg");
}
.transportation #c2 {
  background-image: url("../img/vocab/intermediate/transportation/bus.jpg");
}
.transportation #c3 {
  background-image: url("../img/vocab/intermediate/transportation/plane.jpg");
}
.transportation #c4 {
  background-image: url("../img/vocab/intermediate/transportation/bicycle.jpg");
}
.transportation #c5 {
  background-image: url("../img/vocab/intermediate/transportation/train.jpg");
}
.transportation #c6 {
  background-image: url("../img/vocab/intermediate/transportation/motorcycle.jpg");
}
.transportation #c7 {
  background-image: url("../img/vocab/intermediate/transportation/ambulance.jpg");
}
.transportation #c8 {
  background-image: url("../img/vocab/intermediate/transportation/truck.jpg");
}
.transportation #c9 {
  background-image: url("../img/vocab/intermediate/transportation/hotairballoon.jpg");
}
.transportation #c10 {
  background-image: url("../img/vocab/intermediate/transportation/ship.jpg");
}

.family #c1 {
  background-image: url("../img/vocab/intermediate/family/mom.jpg");
}
.family #c2 {
  background-image: url("../img/vocab/intermediate/family/dad.jpg");
}
.family #c3 {
  background-image: url("../img/vocab/intermediate/family/brother.jpg");
}
.family #c4 {
  background-image: url("../img/vocab/intermediate/family/sister.jpg");
}
.family #c5 {
  background-image: url("../img/vocab/intermediate/family/grandma.jpg");
}
.family #c6 {
  background-image: url("../img/vocab/intermediate/family/grandpa.jpg");
}
.family #c7 {
  background-image: url("../img/vocab/intermediate/family/uncle.jpg");
}
.family #c8 {
  background-image: url("../img/vocab/intermediate/family/aunt.jpg");
}
.family #c9 {
  background-image: url("../img/vocab/intermediate/family/cousin.jpg");
}
.family #c10 {
  background-image: url("../img/vocab/intermediate/family/family.jpg");
}/*# sourceMappingURL=vocabulary-images-intermediate.css.map */