
// FOOD
.food{
    #c1 {
    background-image: url('../img/vocab/intermediate/food/noodle.jpg');
    }   

     #c2 {
        background-image: url('../img/vocab/intermediate/food/egg.jpg');
    }
    #c3 {
        background-image: url('../img/vocab/intermediate/food/steak.jpg');
    }
    #c4 {
        background-image: url('../img/vocab/intermediate/food/pork.jpg');
    }
    #c5 {
    background-image: url('../img/vocab/intermediate/food/rice.jpg');
    }
    #c6 {
    background-image: url('../img/vocab/intermediate/food/salad.jpg');
    }
    #c7 {
    background-image: url('../img/vocab/intermediate/food/icecream.jpg');
    }
    #c8 {
    background-image: url('../img/vocab/intermediate/food/watermelon.jpg');
    }
    #c9 {
    background-image: url('../img/vocab/intermediate/food/fish.jpg');
    }
    #c10 {
    background-image: url('../img/vocab/intermediate/food/pizza.jpg');
    }
}
// TRAVEL
.travel{
    #c1 {
    background-image: url('../img/vocab/intermediate/travel/suitcase.jpg');
    }   

     #c2 {
        background-image: url('../img/vocab/intermediate/travel/passport.jpg');
    }
    #c3 {
        background-image: url('../img/vocab/intermediate/travel/camera.jpg');
    }
    #c4 {
        background-image: url('../img/vocab/intermediate/travel/sunglasses.jpg');
    }
    #c5 {
    background-image: url('../img/vocab/intermediate/travel/hotel.jpg');
    }
    #c6 {
    background-image: url('../img/vocab/intermediate/travel/airplane.jpg');
    }
    #c7 {
    background-image: url('../img/vocab/intermediate/travel/checkin.jpg');
    }
    #c8 {
    background-image: url('../img/vocab/intermediate/travel/seat.jpg');
    }
    #c9 {
    background-image: url('../img/vocab/intermediate/travel/taxi.jpg');
    }
    #c10 {
    background-image: url('../img/vocab/intermediate/travel/boardingpass.jpg');
    }
}
//HOBBIES
.hobbies{
    #c1 {
    background-image: url('../img/vocab/intermediate/hobbies/music.jpg');
    }   

     #c2 {
        background-image: url('../img/vocab/intermediate/hobbies/paint.jpg');
    }
    #c3 {
        background-image: url('../img/vocab/intermediate/hobbies/cook.jpg');
    }
    #c4 {
        background-image: url('../img/vocab/intermediate/hobbies/soccer.jpg');
    }
    #c5 {
    background-image: url('../img/vocab/intermediate/hobbies/read.jpg');
    }
    #c6 {
    background-image: url('../img/vocab/intermediate/hobbies/dance.jpg');
    }
    #c7 {
    background-image: url('../img/vocab/intermediate/hobbies/computergame.jpg');
    }
    #c8 {
    background-image: url('../img/vocab/intermediate/hobbies/tennis.jpg');
    }
    #c9 {
    background-image: url('../img/vocab/intermediate/hobbies/basketball.jpg');
    }
    #c10 {
    background-image: url('../img/vocab/intermediate/hobbies/tabletennis.jpg');
    }
}

//TRANSPORTATION
.transportation{
    #c1 {
    background-image: url('../img/vocab/intermediate/transportation/car.jpg');
    }   

     #c2 {
        background-image: url('../img/vocab/intermediate/transportation/bus.jpg');
    }
    #c3 {
        background-image: url('../img/vocab/intermediate/transportation/plane.jpg');
    }
    #c4 {
        background-image: url('../img/vocab/intermediate/transportation/bicycle.jpg');
    }
    #c5 {
    background-image: url('../img/vocab/intermediate/transportation/train.jpg');
    }
    #c6 {
    background-image: url('../img/vocab/intermediate/transportation/motorcycle.jpg');
    }
    #c7 {
    background-image: url('../img/vocab/intermediate/transportation/ambulance.jpg');
    }
    #c8 {
    background-image: url('../img/vocab/intermediate/transportation/truck.jpg');
    }
    #c9 {
    background-image: url('../img/vocab/intermediate/transportation/hotairballoon.jpg');
    }
    #c10 {
    background-image: url('../img/vocab/intermediate/transportation/ship.jpg');
    }
}

//FAMILY
.family{
    #c1 {
    background-image: url('../img/vocab/intermediate/family/mom.jpg');
    }   

     #c2 {
        background-image: url('../img/vocab/intermediate/family/dad.jpg');
    }
    #c3 {
        background-image: url('../img/vocab/intermediate/family/brother.jpg');
    }
    #c4 {
        background-image: url('../img/vocab/intermediate/family/sister.jpg');
    }
    #c5 {
    background-image: url('../img/vocab/intermediate/family/grandma.jpg');
    }
    #c6 {
    background-image: url('../img/vocab/intermediate/family/grandpa.jpg');
    }
    #c7 {
    background-image: url('../img/vocab/intermediate/family/uncle.jpg');
    }
    #c8 {
    background-image: url('../img/vocab/intermediate/family/aunt.jpg');
    }
    #c9 {
    background-image: url('../img/vocab/intermediate/family/cousin.jpg');
    }
    #c10 {
    background-image: url('../img/vocab/intermediate/family/family.jpg');
    }
}