
// ANIMALS - 1
.animals{
    #c1 {
    background-image: url('../img/vocab/beginner/animals/dog.jpg');
    }   

     #c2 {
        background-image: url('../img/vocab/beginner/animals/cat.jpg');
    }
    #c3 {
        background-image: url('../img/vocab/beginner/animals/monkey.jpg');
    }
    #c4 {
        background-image: url('../img/vocab/beginner/animals/giraffe.jpg');
    }
    #c5 {
    background-image: url('../img/vocab/beginner/animals/hippopotamus.jpg');
    }
    #c6 {
    background-image: url('../img/vocab/beginner/animals/mouse.jpg');
    }
    #c7 {
    background-image: url('../img/vocab/beginner/animals/dolphin.jpg');
    }
    #c8 {
    background-image: url('../img/vocab/beginner/animals/crab.jpg');
    }
    #c9 {
    background-image: url('../img/vocab/beginner/animals/cow.jpg');
    }
    #c10 {
    background-image: url('../img/vocab/beginner/animals/chicken.jpg');
    }
}
// COLORS
.colors{
    #c1 {
    background-image: url('../img/vocab/beginner/colors/red.jpg');
    }   

     #c2 {
        background-image: url('../img/vocab/beginner/colors/green.jpg');
    }
    #c3 {
        background-image: url('../img/vocab/beginner/colors/blue.jpg');
    }
    #c4 {
        background-image: url('../img/vocab/beginner/colors/yellow.jpg');
    }
    #c5 {
    background-image: url('../img/vocab/beginner/colors/pink.jpg');
    }
    #c6 {
    background-image: url('../img/vocab/beginner/colors/orange.jpg');
    }
    #c7 {
    background-image: url('../img/vocab/beginner/colors/white.jpg');
    }
    #c8 {
    background-image: url('../img/vocab/beginner/colors/black.jpg');
    }
    #c9 {
    background-image: url('../img/vocab/beginner/colors/purple.jpg');
    }
    #c10 {
    background-image: url('../img/vocab/beginner/colors/brown.jpg');
    }
}
//NUMBERS
.numbers{
    #c1 {
    background-image: url('../img/vocab/beginner/numbers/1.jpg');
    }   

     #c2 {
        background-image: url('../img/vocab/beginner/numbers/2.jpg');
    }
    #c3 {
        background-image: url('../img/vocab/beginner/numbers/3.jpg');
    }
    #c4 {
        background-image: url('../img/vocab/beginner/numbers/4.jpg');
    }
    #c5 {
    background-image: url('../img/vocab/beginner/numbers/5.jpg');
    }
    #c6 {
    background-image: url('../img/vocab/beginner/numbers/6.jpg');
    }
    #c7 {
    background-image: url('../img/vocab/beginner/numbers/7.jpg');
    }
    #c8 {
    background-image: url('../img/vocab/beginner/numbers/8.jpg');
    }
    #c9 {
    background-image: url('../img/vocab/beginner/numbers/9.jpg');
    }
    #c10 {
    background-image: url('../img/vocab/beginner/numbers/10.jpg');
    }
}

//SHAPES
.shapes{
    #c1 {
    background-image: url('../img/vocab/beginner/shapes/square.jpg');
    }   

     #c2 {
        background-image: url('../img/vocab/beginner/shapes/triangle.jpg');
    }
    #c3 {
        background-image: url('../img/vocab/beginner/shapes/rectangle.jpg');
    }
    #c4 {
        background-image: url('../img/vocab/beginner/shapes/circle.jpg');
    }
    #c5 {
    background-image: url('../img/vocab/beginner/shapes/star.jpg');
    }
    #c6 {
    background-image: url('../img/vocab/beginner/shapes/oval.jpg');
    }
    #c7 {
    background-image: url('../img/vocab/beginner/shapes/cross.jpg');
    }
    #c8 {
    background-image: url('../img/vocab/beginner/shapes/pentagon.jpg');
    }
    #c9 {
    background-image: url('../img/vocab/beginner/shapes/kite2.jpg');
    }
    #c10 {
    background-image: url('../img/vocab/beginner/shapes/heart.jpg');
    }
}

//WEATHER
.weather{
    #c1 {
    background-image: url('../img/vocab/beginner/weather/sunny.jpg');
    }   

     #c2 {
        background-image: url('../img/vocab/beginner/weather/rainy.jpg');
    }
    #c3 {
        background-image: url('../img/vocab/beginner/weather/snowy.jpg');
    }
    #c4 {
        background-image: url('../img/vocab/beginner/weather/windy.jpg');
    }
    #c5 {
    background-image: url('../img/vocab/beginner/weather/cloudy.jpg');
    }
    #c6 {
    background-image: url('../img/vocab/beginner/weather/foggy.jpg');
    }
    #c7 {
    background-image: url('../img/vocab/beginner/weather/stormy.jpg');
    }
    #c8 {
    background-image: url('../img/vocab/beginner/weather/partly.jpg');
    }
    #c9 {
    background-image: url('../img/vocab/beginner/weather/sleet.jpg');
    }
    #c10 {
    background-image: url('../img/vocab/beginner/weather/hail.jpg');
    }
}